.icons a {
  margin-right: 1rem;
}
.icons a.float-right {
  margin-left: 1rem;
  margin-right: 0;
}
span.icon {
  font-size: 2rem;
}
.fab.fa-linkedin {
  color: #0976b4;
}
.fab.fa-github {
  color: #000000;
}
.fas.fa-code {
  color: black;
}
.fas.fa-biking {
  color: #329632;
}
.fas.fa-futbol {
  color: #35033a;
}
.fab.fa-strava {
  color: #fc5200;
}
.fab.fa-instagram {
  color: #3f729b;
}
.fab.fa-twitter {
  color: #55acee;
}
