.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
  padding: 1rem;
  text-align: justify;
  margin: 0 1rem;
  max-height: 70%;
  max-width: 50rem;
  position: relative;
}
